/UF2/Exercici_21_Funcions/nbproject/private/
/UF2/Exercici_21_Funcions/build/
/UF2/ClashRoyale/nbproject/private/
/UF2/NF1. Programacio Modular/ClashRoyale/nbproject/private/
/UF2/NF1. Programacio Modular/Ex2MayorEdad/nbproject/private/
/UF2/NF1. Programacio Modular/Ex3MenorNumero/build/
/UF2/NF1. Programacio Modular/Ex3MenorNumero/nbproject/private/
/UF2/NF1. Programacio Modular/Ex4PedirValor/nbproject/private/
/UF2/NF1. Programacio Modular/Ex5MillasKm/nbproject/private/
/UF2/NF1. Programacio Modular/Exercici_21_Funcions/build/
/UF2/NF1. Programacio Modular/Exercici_21_Funcions/nbproject/private/
/UF2/NF1. Programacio Modular/HelloWorldFuncion/build/
/UF2/NF1. Programacio Modular/HelloWorldFuncion/nbproject/private/
/UF2/NotesAlumnes/nbproject/private/
/UF2/NotesAlumnes/build/
/UF2/Ex3_Arrays/nbproject/private/
/UF2/DraftRoyale/nbproject/private/
/UF2/Vehiculo/nbproject/private/
/UF2/Vehiculo/build/
/UF1/New Folder/MatriusBidimensionals/nbproject/private/
/UF1/New Folder/MatriusBidimensionals/build/
/UF1/New Folder/MatriusBidimensionals/dist/
/UF1/New Folder/ExArraysBidimensionalsMaquinaExpendedora/nbproject/private/
/UF1/New Folder/WarBattle/nbproject/private/
/UF1/New Folder/WarBattle/build/
/CasaMain/nbproject/private/
/CasaMain/build/
/UF4/CasaMain/nbproject/private/
/UF4/CasaMain/build/
/UF4/ArrayListPrebas/nbproject/private/
/UF4/ArrayListPruebas/nbproject/private/
/UF4/ArrayListPruebas/dist/
/UF4/ArrayListPruebas/build/
/UF4/DofivsFoca/nbproject/private/
/UF4/ExempleHerencia/nbproject/private/
/UF4/ExempleHerencia/build/
/UF4/Pokedex/nbproject/private/
/UF4/Pokedex/build/
/UF4/AppElectrodomesticos/nbproject/private/
/UF4/Banco/nbproject/private/
/UF4/ExcepcionesDeUsuario/nbproject/private/
/UF4/ExcepcionesDeUsuario/build/
/UF5/ExcepcionesDeUsuario/build/
/UF5/ExcepcionesDeUsuario/nbproject/private/
/UF5/Ex5_Exepciones/nbproject/private/
/UF5/Ex5_Exepciones/build/
/UF5/Ex5_Exepciones/dist/
/UF5/Ex6_Excepciones/nbproject/private/
/UF5/TestMenu/nbproject/private/
/UF5/TestMenu/build/
